.navigation{
    
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0rem 5rem 0 3rem;
    margin: 0%;
    padding-top: 18px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin: 0 0 0 auto;
}

.navigation ul li {
    display: inline-block;
    margin: 0 0.5em;
}

.navigation h1 {
    color: white;
}

.navigation a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}

.navigation a:hover
{
    font-weight: normal;
    background-color: rgba(129, 115, 115, 0.466);
}

