.cardForm {
    padding: 2rem 1rem 0;
}



.action {
    margin-top: 0.6rem;
    border-radius: 0.1em;
}

.actionButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 400;
    background-color:#9591af;
   
    color: #FFF;
    border: 0;
    box-shadow: 0px 0px 16px #282152;
}

.actionButton:focus {
    outline: 0;
}

.actionButton:hover {
    
    cursor: pointer;
    border-radius:0.1em;
    background-color: #282152;
}
