@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*,
*:after,
*:before {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    display: block;
}

.body {
  
    background-image: url('../../../public/static/images/hand2.jpg');
   display: flow-root;
    /* background: linear-gradient(#282152,#5b4cb1); */
    margin-top: -5rem;
    background-repeat: no-repeat;
    background-size: cover;

}


.boxs {
    margin: 10rem auto;
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    /* border-radius: 10px;
    box-shadow: 0px 0px 40px 0px; */
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 0px 3px 10px white;
    padding: .55rem;
    background: rgb(173, 168, 168);
}

.image {
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 50%;
    max-height: 200px;
    background-image: url('../../../public/static/images/avatar2.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:50% 0%;
    position: relative;
}

.cardHeading {
    position: relative;
    top: 0%;
    /* margin-top: 55px; */
    font-size: 1.6rem;
    font-weight: 200;
    color: #282152;
    text-align: center;
    line-height: 1.222;
}

.cardHeading>small {
    display: block;
    font-size: .60em;
    font-weight: 400;
    margin-top: .24em;
}

.cardForm {
    padding: 2rem 1rem 0;
}



.action {
    margin-top: 0.6rem;
}

.actionButton {
    font-family: Arial, Helvetica, sans-serif;
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color:#9591af;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}

.actionButton:focus {
    outline: 0;
}

.actionButton:hover {
    background-color: #282152;
}

.cardInfo {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
}

.cardInfo>small {
    font-size: 1.2em;
    color: #282152;
}
.background-image {
    background: url('../../../public/static/images/formImage.jpg');
}