@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*,
*:after,
*:before {
    box-sizing: border-box;
}


.body {
    background-image: url('../../../public/static/images/hand2.jpg');
    display: flow-root;
    margin-top: -5rem;
    background-repeat: no-repeat;
    background-size: cover;
}


.boxs {
    margin: 10rem auto;
    display: flex;
    border-radius: 0.1em;
  
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: .55rem;
    background: whitesmoke;
}

.boxHeading{
   
    display: flex;
    color:#282152;
    position: relative;
    width: 100%;
}

.image {
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 50%;
    max-height: 200px;
    background-image: url('../../../public/static/images/avatar6.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 0%;
    position: relative;
}

.cardHeading {
    position: relative;
    top: 0%;
    font-size: 1.6rem;
    font-weight: 200;
    color: #282152;
    text-align: center;
    line-height: 1.222;
}

.cardHeading>small {
    display: block;
    font-size: .60em;
    font-weight: 400;
    margin-top: .24em;
}

.cardForm {
    padding: 2rem 1rem 0;
}

.action {
    margin-top: 0.6rem;
    padding: 1em;
}

.actionButton {
    cursor: pointer;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    
    width: 100%;
    font-weight: 500;
    background-color:#9591af;
    border-radius: 0.1em;
    color: #FFF;
    border: 0;
    box-shadow: 0px 0px 16px #282152;
}

.actionButton:focus {
    outline: 0;
}

.actionButton:hover {
    cursor: pointer;
    background-color: #282152;
}

.cardInfo {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
}

.cardInfo>small {
    font-size: 1.2em;
    color: #282152;
}
.background-image {
    background: url('../../../public/static/images/formImage.jpg');
}