
.cardHome {
    border-radius: 0.1em;
    box-shadow: 0px 0px 20px rgb(80, 77, 77);
    /* background-color: #9591af; */
    padding-top: 20px;
    width: 380px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .cardHome:hover{
    box-shadow: 0px 0px 60px rgb(48, 46, 46);
    width: 390px

  }
  .cardHome h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-bottom: 10px;
    color:#282152;
    font-size: 16px;
    font-weight: 600;
  }
  .cardHome p{
    padding:10px;
   
  }
  .cardImage>img {
    width: 100%;
    height: 100%;
}
  
 
  .btn  button{
    
    border: none;
    height: auto;
    width:100%;
    align-items: center;
    padding: 10px;

    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 0.2em; */
    color: white;
    display: flex;


}
.cardHome button {
    text-decoration: none;
    color: #282152;
}
  
.details {
    cursor:pointer;
    background-color: transparent;
}

.details:hover {
    cursor:pointer;
    background-color:#282152;
    text-decoration: underline; 
}
.details:hover{
    color:white;
}